@charset "UTF-8";

html, body {
	height: 100%;
}

body {
	margin-top: 0;
	margin-right: 0;
	margin-left: 0;
	margin-bottom: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  border:none;
}