body {
  height: 100vh;
  margin: 0;
}

#sidebar {
  position: fixed;
  top: 10px;
  left: 10px;
}

#box-container {
  padding-top: 210px;
}

#hour, #minute {
  width: 40px;
  text-align: center;
  margin-right: 2px;
}

.box-content {
  padding-top: 34px;
}

.draggable-box {
  position: absolute;
  background-color: #f1f1f1;
  border: 1px solid #d4d4d4;
  text-align: center;
  padding: 10px;
  cursor: move;
  width: 120px;
  height: auto;
  min-height: 150px;
  -webkit-user-select: none; 
  -moz-user-select: none;    
  -ms-user-select: none;     
  user-select: none;         
}

.drag-handle {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 40px;
  height: 10px;
  background-color: #f1f1f1;
  cursor: move;
}

.identifier {
  position: absolute;
  top: 10px;
  left: 10px;
}

.remove-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.remarks-button {
  position: absolute;
  bottom: 142px; 
  left: 50px;
  cursor: pointer;
  background-color: #ddd;
  border-radius: 5px;
  text-align: center;
  border: 1px solid #ccc;
}

.remarks {
  border: 1px solid #333;
  padding: 1px;
  margin-top: 10px;
  max-height: 50px;
  overflow-y: auto;
}

.remarks-input {
  margin-top: 2px;
}

.info-line {
  border-bottom: 1px dashed #333;
  margin-bottom: 5px;
  padding-bottom: 5px;
  display: inline-block; 
  width: 100%;
}

.plate-info {
  line-height: 1.2;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 50%;
}

.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

input[type="text"]#plate-region,
input[type="text"]#plate-number,
input[type="text"]#plate-hiragana,
input[type="text"]#plate-serial {
  width: auto;
  width: 60px;
  margin-right: 5px;
}
